<header>
	<h1 class="headline1">ようこそ Bookers へ！<h1>
</header>

<main class="clearfix">
	<def class="welcome-area">
		<p><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や<br><br>
   	    印象を共有し交換することができます<br><br>
		</p>
		<%=link_to "start", books_path %>
	</def>
</main>


