/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.notice {
	padding: 30px 0 0 50px;
	font-size: 12px;
	color: #008000;
}
/* common */

/* index.html */
.headline1 {
	width: 100%;
	padding: 30px 30px 10px 30px;
}

.table-area {
	padding-left: 30px;
}
.table-text {
	font-size: 14px;
}
.link-item {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}

.area4 {
	padding-left: 30px;
}
.headline2 {
	width: 100%;
	padding: 20px 0 10px;
}
.subtitle {
	text-align: center;
	font-size: 14px;
}
.new-title {
	font-size: 11px;
}

/* welcome.html */
.welcome-area {
	float: left;
	padding-left: 50px;
}

/* show.html */
.show-area1 {
	float: left;
	width: 100%;
	padding-left: 60px;
	padding-top: 30px;
}
.show-area2 {
	padding-left: 30px;
	padding-top: 30px;
}
.show-text {
	font-size: 14px;
	padding: 20px 0;
}
.show-link {
	padding: 0 10px;
	display: inline;
	font-size: 12px;
}
.show-link:last-child {
	border-left: 1px solid black;
}

/* edit.html */
.edit-area1 {
	float: left;
	width: 100%;
	padding-left: 30px;
}
.edit-area2 {
	padding-left: 20px;
}
.edit-headline {
	font-size: 25px;
	padding: 20px 0 0;
}
.edit-text {
	font-size: 12px;
	padding-top: 5px;
}

